<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Условия и Положения</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            text-align: center;
            padding: 10px;
            background-color: #3498db;
            color: #fff;
        }

        section {
            margin: 20px 0;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #2c3e50;
            color: #fff;
        }
    </style>
</head>

<body>
    <header>
        <h1>Условия и Положения</h1>
    </header>

    <section>
        <h2>1. Общие условия</h2>
        <p>Добро пожаловать на наш веб-сайт. Используя этот веб-сайт, вы соглашаетесь с нашими условиями использования.
            Пожалуйста, внимательно прочитайте их перед использованием сайта.</p>
    </section>

    <section>
        <h2>2. Правила участия в мероприятиях</h2>
        <p>Для участия в мероприятиях техникума необходимо соблюдать следующие правила:
            <ul>
                <li>Быть студентом техникума.</li>
                <li>Регистрироваться на мероприятия заранее.</li>
                <li>Соблюдать этикет и поведенческие стандарты.</li>
                <!-- Добавленные 15 правил -->
                <li>Обеспечивайте безопасность себя и других участников.</li>
                <li>Проявляйте уважение к другим участникам.</li>
                <li>Пользование техническим оборудованием согласно инструкциям.</li>
                <li>Запрет на самовольные изменения программы мероприятий.</li>
                <li>Ответственность за личные вещи.</li>
                <li>Фото и видеозапись с согласия участников.</li>
                <li>Активное участие в обсуждениях.</li>
                <li>Соблюдение времени прихода.</li>
                <li>Поддержка организаторов мероприятий.</li>
                <li>Уважение традиций техникума.</li>
                <li>Соблюдение культуры общения.</li>
                <li>Активное участие в дополнительных мероприятиях.</li>
                <li>Обратная связь об организации мероприятий.</li>
            </ul>
        </p>
    </section>

    <footer>
        <p>&copy; 2024 Мероприятия Техникума. Все права защищены.</p>
    </footer>
</body>

</html>
